body {
height: 100%;
margin: 0;
position: absolute;
width: 100%;
display: table;
background-image: url("fondos1.jpeg");

}

#botonRi2{
  margin: 1em 4em 4em 4em;
}

#boton8{
  margin: 1em 4em 4em 4em;
}

#boton1{
  display: block;
  margin: 1em 4em 4em 4em;
  border-style: double;
  border-color: teal;
}
#boton2{
  display: block;
  margin: 1em 4em 4em 4em;
}

#boton3{
  display: block;
  margin: 4em 4em 4em 4em;
}

.seguro{
  display: block;
}

.foco{
  display: block;


}




.titulo{
  background-color: black;
  opacity: 0.6;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.subtitulo{
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.ayudaBoson{
  background-color: black;
  opacity: 0.6;
  background-position: center;
}

.institulo{
  background-color: black;
  opacity: 0.6;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.ayuda{
  background-color: black;
  opacity: 0.6;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.entitulo{
  background-color: black;
  opacity: 0.6;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.instrucciones{
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

#boton5{
  display: block;
  margin: 1em 1em 1em 1em;
}

#boton6{
  display: block;
  margin: 4em 4em 4em 4em;
}

.instrucciones{
  margin: 1em 1em 1em 1em;
}

.paraEncriptar{
  margin: 1em 1em 1em 1em;
}

.ciencia2{
  display: block;
  margin: 1em 1em 1em 1em;

}

.offset{
  display: block;
  margin: 1em 1em 1em 1em;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.paraOffset{
  margin: 1em 1em 1em 1em;

}

 .iTitulo{
   background-color: black;
   opacity: 0.6;
   color: white;
   font-family: 'Secular One', sans-serif;
   font-family: 'IM Fell English SC', serif;
   font-family: 'Orienta', sans-serif;
   font-family: 'Arya', sans-serif;
 }

 .listaE{
   background-color: black;
   opacity: 0.6;
   color: white;
   font-family: 'Secular One', sans-serif;
   font-family: 'IM Fell English SC', serif;
   font-family: 'Orienta', sans-serif;
   font-family: 'Arya', sans-serif;
 }

 .nota1{
   background-color: black;
   opacity: 0.8;
   color: white;
   font-family: 'Secular One', sans-serif;
   font-family: 'IM Fell English SC', serif;
   font-family: 'Orienta', sans-serif;
   font-family: 'Arya', sans-serif;
 }

 #paraEncriptar{
   display: block;
   margin: 1em 4em 4em 4em;
   width: 50%;
   height: 50%;

 }

.instruccionesDes{

  display: block;
  margin: 1em 1em 1em 1em;
}

#paraDesencriptar{
  display: block;
  margin: 1em 4em 4em 4em;
  width: 50%;
  height: 50%;
}

.destitulo {
  background-color: black;
  opacity: 0.6;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.instruccionesDes{
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.offsetDes{
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.paraOffsetDes{
  display: block;
  margin: 1em 4em 4em 4em;
}

#botonDesencriptar{
  display: block;
  margin: 1em 1em 1em 1em;
}

#cipher3{
  display: block;
  margin: 1em 4em 4em 4em;
  width: 50%;
  height: 50%;
}

#cipher1{
  display: block;
  margin: 1em 1em 1em 1em;
  width: 50%;
  height: 50%;
}

.iDTitulo{
  background-color: black;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
}

.listaD{
  background-color: black;
  color: white;
  font-family: 'Secular One', sans-serif;
  font-family: 'IM Fell English SC', serif;
  font-family: 'Orienta', sans-serif;
  font-family: 'Arya', sans-serif;
  opacity: 0.6;
}
